@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: "Inter"
    , sans-serif !important;
}

.bi {
  vertical-align: -.125em !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}